#footer{
  width: 1000px;
  height: 100px;
  margin: auto;
}
.f_button{
  font-size: large;
  line-height: 80px;
  text-align: center;
  width: 230px;
  height: 80px;
  float:left;
  margin: 10px;
  background: papayawhip;
}