#header{
  width: 1000px;
  height: 100px;
  background: lightgrey;
  margin: auto;
}
#h_l{
  width:200px;
  height:100px;
  line-height: 100px;
  text-align: center;
  margin: auto;
  float: left;
}
#h_c{
  width:600px;
  height:100px;
  font-size: larger;
  line-height: 100px;
  text-align: center;
  margin: auto;
  float: left;
}
#h_r{
  width:200px;
  height:100px;
  line-height: 100px;
  text-align: center;
  margin: auto;
  float: left;
}