body,div,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,textarea,p,a,img{
    margin: 0px;
    padding: 0px;
    font-size: 13px;
}
ul{
    list-style-type: none;
}
img,a img{
    border: none;
}
a{
    text-decoration: none;/*去掉下划线*/

}
a:hover{
    text-decoration: underline;/*放上去显示*/
}
